body {
  font-family: Arial, sans-serif;
  margin: 20px;
}

#result {
  margin-top: 20px;
  white-space: pre-wrap;
  background: #f9f9f9;
  padding: 10px;
  border: 1px solid #ddd;
}

#canvasContainer {
  display: none;
}

#capturedImage {
  display: none;
  max-width: 100%;
}

#captureOptions {
  display: none;
}

video {
  max-width: 100%;
  transform: scaleX(-1); /* Corregir imagen invertida */
}

#previewContainer {
  margin-top: 20px;
}
